element {
  /* margin: 1px; */
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}
.menu
{
  margin-left: .14vw;
  margin-right: .14vw;
  display: inline-flex;
}

img
{
  height: 80%;
  width: auto;

}

.code-card-row{
justify-cntent: center;
  justify-items: center;
  flexDirection:row;
  display:flex;
}

@media (max-width: 600px)
{
}

.cats img
{
  align-self: center;
  display: flex;
  margin:auto;
  padding: 5vmax;
  max-height: 500px;
}

.loading
{
  position: center;
  transform: translate(48.5%,48.5%);
}
.hidden{display: none}

.menu-disabled
{
  color:#abababaa !important;
  cursor: not-allowed !important;
}

.push-up
{
  transform: translateY(-70vh);

  }

.hobbies img
{
  width: auto;
  height: 20vh;
  margin:2vmax;
  border: 2px black solid;
  }